{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="./bootstrap-3.0.0/docs-assets/ico/favicon.png">

    <title>BUOC About</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'BUOC/bootstrap-3.0.0/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'BUOC/offcanvas.css' %}" rel="stylesheet">

  </head>

  <body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><i>B.U. Outdoor Classroom</i></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/about/">About the O.C.</a></li>
            <li><a href="/student_information/">Student Information</a></li>
	    <li><a href="/faculty_information/">Faculty Information</a></li>
	    <li><a href="#notyet">Outdoor Vegetation</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

 
    <!-- Carousel
	 ================================================== -->
    {% if carousel_pic_list %}
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
	{% for seql in carousel_sequence_list %}
        {% if forloop.counter == 1 %}
        <li data-target="#myCarousel" data-slide-to="{{ seql }}" class="active"></li>
        {% else %}
        <li data-target="#myCarousel" data-slide-to="{{ seql }}"></li>
        {% endif %}
	{% endfor %}
      </ol>
      <div class="carousel-inner">
	{% for pic in carousel_pic_list %}
        {% if forloop.counter == 1 %}
        <div class="item active">
	{% else %}
	<div class="item">
	  {% endif %}
          <img src="/media/{{ pic.picture }}" alt="Slide show component">
        </div>
	{% endfor %}
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
    {% endif %}


    <div class="container">
      {% if info_doc_list %}
      {% for info_doc in info_doc_list %}
      <div class="jumbotron">
	<h2>{{ info_doc.title }}</h2>
	<p>{{ info_doc.body }}</p>
      </div>
      <hr>
      {% endfor %}
      {% endif %}
      <div class="row row-offcanvas row-offcanvas-right">
 
        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
 
          <div class="row">
	    {% if faq_list %}
	    {% for faq in faq_list %}
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>{{ faq.question }}</h2>
              <p>{{ faq.answer }}</p>
           <p><a class="btn btn-default" href="/faq/{{ faq.id }}/" role="button">View details &raquo;</a></p>
            </div><!--/span-->
	    {% endfor %}
	    {% else %}
	    <div class="col-6 col-sm-6 col-lg-4">
	      <h2>No F.A.Q. have been defined!</h2>
	      <p>Please go into the administration interface and define FAQs.</p>
	      </div>
	    {% endif %}
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Bloomsburg University WFTI Course, Group 5, 2013</p>
      </footer>

    </div><!--/.container-->

   <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'BUOC/bootstrap-3.0.0/assets/js/jquery.js' %}"></script>
    <script src="{% static 'BUOC/bootstrap-3.0.0/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'BUOC/bootstrap-3.0.0/assets/js/holder.js' %}"></script>
  </body>
</html>
