{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="./bootstrap-3.0.0/docs-assets/ico/favicon.png">

    <title>BUOC Faculty Information</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'BUOC/bootstrap-3.0.0/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'BUOC/offcanvas.css' %}" rel="stylesheet">

  </head>

  <body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><i>B.U. Outdoor Classroom</i></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About the O.C.</a></li>
            <li><a href="/student_information/">Student Information</a></li>
	    <li class="active"><a href="/faculty_information/">Faculty Information</a></li>
	    <li><a href="#notyet">Outdoor Vegetation</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    <div class="container">
      {% if info_doc_list %}
      {% for info_doc in info_doc_list %}
	<hr>
	<div class="jumbotron">
	  <h2>{{ info_doc.title }}</h2>
	  <p>{{ info_doc.body }}</p>
	</div>
      
      {% endfor %}
      {% else %}
      <p>There is no faculty information yet!</p>
      {% endif %}

      <hr>

      <footer>
	<p>&copy; 2013 Bloomsburg University, WFTI Course, Group 5</p>
      </footer>

    </div><!--/.container-->


    <!-- Bootstrap core JavaScript
	 ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'BUOC/bootstrap-3.0.0/assets/js/jquery.js' %}"></script>
    <script src="{% static 'BUOC/bootstrap-3.0.0/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'BUOC/bootstrap-3.0.0/assets/js/holder.js' %}"></script>  
  </body>
</html>
