{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'BUOC/bootstrap-3.0.0/docs-assets/ico/favicon.png' %}">

    <title>BUOC Home Page</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'BUOC/bootstrap-3.0.0/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'BUOC/offcanvas.css' %}" rel="stylesheet">

  </head>

  <body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><i>B.U. Outdoor Classroom</i></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about/">About the O.C.</a></li>
            <li><a href="/student_information/">Student Information</a></li>
	    <li><a href="/faculty_information/">Faculty Information</a></li>
	    <li><a href="#notyet">Outdoor Vegetation</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    <!-- Carousel
	 ================================================== -->
    {% if carousel_pic_list %}
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
	{% for seql in carousel_sequence_list %}
        {% if forloop.counter == 1 %}
        <li data-target="#myCarousel" data-slide-to="{{ seql }}" class="active"></li>
        {% else %}
        <li data-target="#myCarousel" data-slide-to="{{ seql }}"></li>
        {% endif %}
	{% endfor %}
      </ol>
      <div class="carousel-inner">
	{% for pic in carousel_pic_list %}
        {% if forloop.counter == 1 %}
        <div class="item active">
	{% else %}
	<div class="item">
	  {% endif %}
          <img src="/media/{{ pic.picture }}" alt="Slide show component">
        </div>
	{% endfor %}
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
    {% endif %}

    <!-- Follows are the news items -->

    <div class="container">

      <!-- Follows are the news items -->
      <div class="row row-offcanvas row-offcanvas-right">

	<div class="col-xs-12 col-sm-9">
	  {% if info_doc_list %}
	  {% for info_doc in info_doc_list %}
	  <div class="jumbotron">
	    <h2>{{ info_doc.title }}</h2>
	    <p>{{ info_doc.body }}</p>
	  </div>
	  <hr>
	  {% endfor %}
	  {% endif %}
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
	  
          <div class="row">

	    {% if latest_news_list %}
	    {% for news_item in latest_news_list %}

            <div class="col-6 col-sm-6 col-lg-4">
              <h2>{{ news_item.title }}</h2>
              <p>{{ news_item.content }}</p>
              <p><a class="btn btn-default" href="/news/{{ news_item.id }}/" role="button">View details &raquo;</a></p>
            </div><!--/span-->
	    {% endfor %}
	    {% else %}
	    <div class="col-6 col-sm-6 col-lg-4">
	      <h2>No news!</h2>
	      <p>There are no news articles for the Outdoor Classroom, yet!</p>
	    </div>
	    {% endif %}

            
          </div><!--/row-->
        </div><!--/span-->

	<!-- Follows are the upcoming events --> 

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="list-group">
	    <h2>Upcoming Events:</h2>
	    {% if latest_events_list %}
	    {% for latest_event in latest_events_list %}
	    <!--            <a href="#" class="list-group-item active">Link</a> -->
            <a href="/event/{{ latest_event.id }}/" class="list-group-item">{{ latest_event.event_name }} at {{ latest_event.scheduled_date }}</a>
	    {% endfor %}
	    {% else %}
	    <a href="#" class="list-group-item active">No upcoming events!</a>
	    {% endif %}
          </div>
        </div><!--/span-->
	<!-- End the upcoming events code -->

      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; 2013 Bloomsburg University WTFI Course, Group 5</p>
      </footer>

    </div><!--/.container-->



    <!-- Bootstrap core JavaScript
	 ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	 <script src="./bootstrap-3.0.0/dist/js/bootstrap.min.js"></script>
	 <script src="offcanvas.js"></script> -->

    <!-- Bootstrap core JavaScript
	 ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'BUOC/bootstrap-3.0.0/assets/js/jquery.js' %}"></script>
    <script src="{% static 'BUOC/bootstrap-3.0.0/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'BUOC/bootstrap-3.0.0/assets/js/holder.js' %}"></script>
  </body>
</html>
