{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="./bootstrap-3.0.0/docs-assets/ico/favicon.png">

    <title>BUOC Student Information</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'BUOC/bootstrap-3.0.0/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'BUOC/offcanvas.css' %}" rel="stylesheet">

  </head>

  <body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><i>B.U. Outdoor Classroom</i></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About the O.C.</a></li>
            <li class="active"><a href="/student_information/">Student Information</a></li>
	    <li><a href="/faculty_information/">Faculty Information</a></li>
	    <li><a href="#notyet">Outdoor Vegetation</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    <div class="container">
      <div class="row row-offcanvas row-offcanvas-right">
	
	<div class="col-lg-8">
	  
	  {% if info_doc_list %}
	  {% for info_doc in info_doc_list %}
	  
	  <hr>
	  <div class="jumbotron">
	    <h2>{{ info_doc.title }}</h2>
	    <p>{{ info_doc.body }}</p>
	  </div>
	  
	  
	  
	  {% endfor %}
	  {% endif %}
        </div>

	<!-- Follows are the upcoming events --> 
	
        <div class="col-lg-4">
          <div class="list-group">
	    <h2>Full Class List:</h2>
	    {% if full_class_list %}
	    {% for latest_event in full_class_list %}
	    <!--            <a href="#" class="list-group-item active">Link</a> -->
            <a href="/class/{{ latest_event.id }}/" class="list-group-item">{{ latest_event.course_name }} at {{ latest_event.scheduled_date }} with {{ latest_event.instructor }}</a>
	    {% endfor %}
	    {% else %}
	    <a href="#" class="list-group-item active">No upcoming outdoor classes!</a>
	    {% endif %}
          </div>
        </div><!--/span-->
	<!-- End the upcoming events code -->



      </div><!--/row-->
      <hr>

      <footer>
	<p>&copy; 2013, Bloomsburg University WFTI Course, Group 5</p>
      </footer>

    </div><!--/.container-->


    <!-- Bootstrap core JavaScript
	 ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'BUOC/bootstrap-3.0.0/assets/js/jquery.js' %}"></script>
    <script src="{% static 'BUOC/bootstrap-3.0.0/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'BUOC/bootstrap-3.0.0/assets/js/holder.js' %}"></script>
  </body>
</html>
